* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  --primary-color: #1072bc;
  --secondary-color: #ed1c24;
  --nav-item-normal: #707070;
  --nav-item-active: #222222;
  --hero-background: #e4f4ff;
  --hero-text: #003c55;
  --pre-title-grey: #707070;
  --white: #fff;
  --text-dark: #323232;
}

body {
  font-family: "Poppins", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1294px) {
  .container {
    max-width: 1264px;
  }
}

img {
  width: 100%;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #004a80;
  line-height: 1.19;
}

.btn {
  display: inline-block;
}

.btn-transparent {
  width: 151px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.btn-transparent:hover, .btn-transparent:focus {
  color: var(--white);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.5);
  background-color: var(--secondary-color);
}

.btn-transparent:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.btn-red {
  width: 186px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ed1c24;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}

.btn-red:hover, .btn-red:focus {
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.5);
}

.btn-red:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes redTirangle {
  0% {
    -webkit-transform: translate(-20px, -2px) ske;
            transform: translate(-20px, -2px) ske;
  }
  50% {
    -webkit-transform: translate(-90%, -50px) rotate(-59deg);
            transform: translate(-90%, -50px) rotate(-59deg);
  }
  100% {
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
}

@keyframes redTirangle {
  0% {
    -webkit-transform: translate(-20px, -2px) ske;
            transform: translate(-20px, -2px) ske;
  }
  50% {
    -webkit-transform: translate(-90%, -50px) rotate(-59deg);
            transform: translate(-90%, -50px) rotate(-59deg);
  }
  100% {
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
}

h3 {
  font-size: 32px;
  line-height: 1.18;
  font-weight: 600;
}

.small-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.captions {
  font-size: 18px;
  font-weight: 600;
}

.pre-title {
  font-size: 15px;
  font-weight: 500;
}

.long-copy {
  font-size: 16px;
  font-weight: 400;
}

.text-buttons {
  font-size: 16px;
  font-weight: 400;
}

.text-red {
  color: #ED1C24;
}

.text-blue {
  color: #1072BC;
}

.contact-about .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-about .content-container .left .icon-container {
  width: 43px;
  margin-right: 20px;
}

.contact-about .content-container .right .captions {
  margin-bottom: 10px;
}

.contact-about .content-container .right .short-copy {
  margin-bottom: 21px;
}

.contact-about .content-container .right .number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.note .line {
  content: "";
  display: inline-block;
  width: 67px;
  height: 1px;
  background: #222222;
  margin-bottom: 16px;
}

.map-container iframe {
  width: 100%;
  height: 347px;
}

.section-cta {
  background: #E4F4FF;
  padding: 66px 0;
}

.header {
  padding: 22px 0;
}

.header .container .row {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header .container .row .logo-box {
  width: 184px;
  max-width: 100%;
}

@media (max-width: 991px) {
  .header .container .row .nav-container {
    position: fixed;
    border: 1px solid;
    width: 100vw;
    height: 100vh;
    top: 90px;
    left: 100%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header .container .row .nav-container.show {
    left: 0;
  }
}

.header .container .row .nav-container .nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 991px) {
  .header .container .row .nav-container .nav-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    text-align: center;
  }
}

.header .container .row .nav-container .nav-list .nav-item {
  font-size: 14px;
}

.header .container .row .nav-container .nav-list .nav-item:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 991px) {
  .header .container .row .nav-container .nav-list .nav-item:not(:last-child) {
    margin-right: 0;
  }
}

.header .container .row .nav-container .nav-list .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  padding-left: 0;
  padding-right: 0;
}

.header .container .row .nav-container .nav-list .nav-item .nav-link, .header .container .row .nav-container .nav-list .nav-item .nav-link:hover, .header .container .row .nav-container .nav-list .nav-item .nav-link:active, .header .container .row .nav-container .nav-list .nav-item .nav-link:link, .header .container .row .nav-container .nav-list .nav-item .nav-link:visited {
  text-decoration: none;
  color: var(--nav-item-normal);
}

.header .container .row .nav-container .nav-list .nav-item .nav-link.active {
  color: var(--nav-item-active);
}

.header .container .row .menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 991px) {
  .header .container .row .menu-toggle {
    visibility: visible;
  }
}

.header .container .row .menu-toggle span {
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: var(--primary-color);
  margin-bottom: 0;
}

.section-hero {
  height: 679px;
  background-color: var(--hero-background);
}

.section-hero .container {
  position: relative;
  height: 100%;
}

.section-hero .container .row {
  height: 100%;
}

.section-hero .container .row .hero-box {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-hero .container .row .hero-box h5 {
  font-size: 16px;
  font-weight: 500;
  color: var(--pre-title-grey);
  letter-spacing: 0.15;
}

.section-hero .container .row .hero-box h1 {
  font-size: 45px;
  line-height: 52px;
  font-weight: 700;
  color: var(--hero-text);
  margin-bottom: 20px;
}

.section-hero .container .row .image-content-container {
  position: relative;
}

.section-hero .container .row .image-content-container .red-triangle {
  position: absolute;
  right: 45%;
  top: 19%;
}

.section-hero .container .row .image-content-container .main-image img {
  -webkit-mask-image: url(/images/mero-mask.svg);
          mask-image: url(/images/mero-mask.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position-x: 46px;
  -webkit-mask-position-y: 48px;
  -webkit-mask-size: 511px;
  margin-top: 92px;
}

@media (max-width: 1200px) {
  .section-hero .container .row .image-content-container .main-image img {
    -webkit-mask-size: 371px;
            mask-size: 371px;
  }
}

.section-hero .container .row .image-content-container .blue-triangle {
  position: absolute;
  right: 25%;
  bottom: 5%;
}

@media (max-width: 1200px) {
  .section-hero .container .row .image-content-container .blue-triangle {
    width: 100px;
  }
}

.section-about,
.section-portfolio,
.section-creative-process,
.section-services,
.section-testimonials,
.section-clients,
.section-partners {
  padding: 128px 0;
}

.section-about,
.section-portfolio,
.section-creative-process,
.section-services,
.section-blogs, .section-testimonials, .page-about .section-team {
  padding: 128px 0;
}

.section-about .container .row .content-container.subtitle .line-horizontal,
.section-portfolio .container .row .content-container.subtitle .line-horizontal,
.section-creative-process .container .row .content-container.subtitle .line-horizontal,
.section-services .container .row .content-container.subtitle .line-horizontal,
.section-blogs .container .row .content-container.subtitle .line-horizontal, .section-testimonials .container .row .content-container.subtitle .line-horizontal, .page-about .section-team .container .row .content-container.subtitle .line-horizontal {
  content: "";
  display: inline-block;
  width: 46px;
  height: 3px;
  background-color: var(--text-dark);
  margin-bottom: 18px;
}

.section-about .container .row .content-container.subtitle h3,
.section-portfolio .container .row .content-container.subtitle h3,
.section-creative-process .container .row .content-container.subtitle h3,
.section-services .container .row .content-container.subtitle h3,
.section-blogs .container .row .content-container.subtitle h3, .section-testimonials .container .row .content-container.subtitle h3, .page-about .section-team .container .row .content-container.subtitle h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  color: #1e1e1e;
  text-transform: capitalize;
}

.section-about .container .row .content-container.subtitle p,
.section-portfolio .container .row .content-container.subtitle p,
.section-creative-process .container .row .content-container.subtitle p,
.section-services .container .row .content-container.subtitle p,
.section-blogs .container .row .content-container.subtitle p, .section-testimonials .container .row .content-container.subtitle p, .page-about .section-team .container .row .content-container.subtitle p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 40px;
}

.section-about .container .row .content-container.long-copy h2,
.section-portfolio .container .row .content-container.long-copy h2,
.section-creative-process .container .row .content-container.long-copy h2,
.section-services .container .row .content-container.long-copy h2,
.section-blogs .container .row .content-container.long-copy h2, .section-testimonials .container .row .content-container.long-copy h2, .page-about .section-team .container .row .content-container.long-copy h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: capitalize;
}

.section-about .container .row .content-container.long-copy p,
.section-portfolio .container .row .content-container.long-copy p,
.section-creative-process .container .row .content-container.long-copy p,
.section-services .container .row .content-container.long-copy p,
.section-blogs .container .row .content-container.long-copy p, .section-testimonials .container .row .content-container.long-copy p, .page-about .section-team .container .row .content-container.long-copy p {
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  margin-bottom: 95px;
}

.section-about .container .row.icons .content-container .icon,
.section-portfolio .container .row.icons .content-container .icon,
.section-creative-process .container .row.icons .content-container .icon,
.section-services .container .row.icons .content-container .icon,
.section-blogs .container .row.icons .content-container .icon, .section-testimonials .container .row.icons .content-container .icon, .page-about .section-team .container .row.icons .content-container .icon {
  margin-bottom: 10px;
  width: 30px;
  display: block;
}

.section-about .container .row.icons .content-container h4,
.section-portfolio .container .row.icons .content-container h4,
.section-creative-process .container .row.icons .content-container h4,
.section-services .container .row.icons .content-container h4,
.section-blogs .container .row.icons .content-container h4, .section-testimonials .container .row.icons .content-container h4, .page-about .section-team .container .row.icons .content-container h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.section-about .container .row.icons .content-container p,
.section-portfolio .container .row.icons .content-container p,
.section-creative-process .container .row.icons .content-container p,
.section-services .container .row.icons .content-container p,
.section-blogs .container .row.icons .content-container p, .section-testimonials .container .row.icons .content-container p, .page-about .section-team .container .row.icons .content-container p {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
}

.section-about .container .row.icons .content-container:hover h4,
.section-portfolio .container .row.icons .content-container:hover h4,
.section-creative-process .container .row.icons .content-container:hover h4,
.section-services .container .row.icons .content-container:hover h4,
.section-blogs .container .row.icons .content-container:hover h4, .section-testimonials .container .row.icons .content-container:hover h4, .page-about .section-team .container .row.icons .content-container:hover h4 {
  color: var(--primary-color);
}

.section-numbers {
  background-color: #e4f4ff;
  padding: 56px 0;
}

.section-numbers .content-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-numbers .content-container .icon {
  width: 30px;
  display: block;
  margin-bottom: 10px;
}

.section-numbers .content-container .counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-numbers .content-container .counter-container .counter {
  font-size: 36px;
  font-weight: 700;
  color: #ed1c24;
}

.section-numbers .content-container .counter-container .plus-icon {
  position: relative;
  display: block;
}

.section-numbers .content-container .counter-container .plus-icon:before {
  content: "";
  width: 14px;
  height: 4px;
  background-color: #ed1c24;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: -2px;
}

.section-numbers .content-container .counter-container .plus-icon:after {
  content: "";
  width: 4px;
  height: 13px;
  background-color: #ed1c24;
  display: inline-block;
  position: absolute;
  left: 3.5px;
  top: 0.5px;
}

.section-numbers .content-container p {
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-color);
  text-transform: uppercase;
}

.section-creative-process .process-slider-container .slide-item .item-container {
  padding: 0 20px;
}

.section-creative-process .process-slider-container .slide-item .image-container {
  margin-bottom: 30px;
}

.section-creative-process .process-slider-container .slide-item .text-box .header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-creative-process .process-slider-container .slide-item .text-box .header-box .left {
  margin-right: 30px;
}

.section-creative-process .process-slider-container .slide-item .text-box .header-box .left .number {
  font-size: 47px;
  font-weight: 300;
  color: #333232;
}

.section-creative-process .process-slider-container .slide-item .text-box .header-box .right .captions {
  font-size: 18px;
  font-weight: 600;
  color: #333232;
  margin-bottom: 0;
}

.section-creative-process .process-slider-container .slide-item .text-box .header-box .right .label-blue {
  font-size: 14px;
  font-weight: 400;
  color: #0f5e9a;
}

.section-creative-process .process-slider-container .slide-item .text-box .short-copy {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  width: 89%;
}

.section-creative-process .process-slider-container .arrow {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ed1c24;
  color: #ed1c24;
  border-radius: 50%;
  padding: 15px 20px;
}

.section-creative-process .process-slider-container .arrow:hover, .section-creative-process .process-slider-container .arrow:focus {
  background: #ed1c24;
  color: #fff;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.5);
}

.section-creative-process .process-slider-container .arrow:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.7);
}

.section-creative-process .process-slider-container .arrow-next {
  position: absolute;
  left: -120px;
  bottom: 20px;
}

.section-creative-process .process-slider-container .arrow-previous {
  visibility: hidden;
}

.section-portfolio .container.content {
  margin-bottom: 80px;
}

.section-portfolio .container.content .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-portfolio .portfolio-items {
  max-width: 100%;
}

.section-portfolio .portfolio-items .row .col-md-3, .section-portfolio .portfolio-items .row .col-sm-4 {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.section-portfolio .portfolio-items .row .col-md-3 .overlay, .section-portfolio .portfolio-items .row .col-sm-4 .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.section-portfolio .portfolio-items .row .col-md-3 .overlay p, .section-portfolio .portfolio-items .row .col-sm-4 .overlay p {
  color: #fff;
}

.section-portfolio .portfolio-items .row .col-md-3 .overlay .caption, .section-portfolio .portfolio-items .row .col-sm-4 .overlay .caption {
  font-size: 18px;
  font-weight: 600;
}

.section-portfolio .portfolio-items .row .col-md-3 .overlay .long-copy, .section-portfolio .portfolio-items .row .col-sm-4 .overlay .long-copy {
  font-size: 16px;
  font-weight: 400;
}

.section-portfolio .portfolio-items .row .col-md-3:hover .overlay, .section-portfolio .portfolio-items .row .col-sm-4:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.section-services {
  background-color: #f2f2f2;
}

.section-services .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-services .container .row .btn-container {
  margin-bottom: 80px;
}

.section-services .container .row .btn-container .btn {
  width: 197px;
}

.section-services .container .row.card-custom .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 66px;
}

.section-services .container .row.card-custom .content-container .image-container {
  width: 350px;
  margin-right: 20px;
}

.section-services .container .row.card-custom .content-container .image-container img {
  width: 100%;
  height: 100%;
}

.section-services .container .row.card-custom .content-container .small-headline {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #0f5e9a;
  margin-bottom: 5px;
}

.section-services .container .row.card-custom .content-container .captions {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  color: #333232;
}

.section-services .container .row.card-custom .content-container p {
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: #333232;
  margin-bottom: 12px;
}

.section-services .container .row.card-custom .content-container .text-button {
  color: #ed1c24;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: underline;
}

.section-testimonials .container .row .text-container {
  margin-bottom: 30px;
}

.section-testimonials .container .row .form-container .text-box {
  margin-bottom: 30px;
}

.section-testimonials .container .row .form-container .text-box .captions {
  margin-bottom: 0;
}

.section-testimonials .container .row .form-container .text-box p {
  margin-bottom: 0;
}

.section-testimonials .container .row .form-container form input,
.section-testimonials .container .row .form-container form textarea {
  font-family: "poppins";
  width: 100%;
  padding: 8px 4px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 28px;
}

.section-testimonials .container .row .form-container form input:focus, .section-testimonials .container .row .form-container form input:hover, .section-testimonials .container .row .form-container form input:active,
.section-testimonials .container .row .form-container form textarea:focus,
.section-testimonials .container .row .form-container form textarea:hover,
.section-testimonials .container .row .form-container form textarea:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-testimonials .container .row .form-container form .btn-transparent {
  width: 147px !important;
}

.section-testimonials .container .row .form-container form .btn-transparent:focus, .section-testimonials .container .row .form-container form .btn-transparent:hover, .section-testimonials .container .row .form-container form .btn-transparent:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none;
  border: none;
}

.section-testimonials .container .row .testimonial-conainer .item {
  margin-bottom: 40px;
}

.section-testimonials .container .row .testimonial-conainer p.paragraph {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: inherit;
  color: #222222;
  margin-bottom: 30px;
}

.section-testimonials .container .row .testimonial-conainer p.captions {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333232;
}

.section-testimonials .container .row .testimonial-conainer .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.section-testimonials .container .row .testimonial-conainer .person .image-container {
  margin-right: 30px;
}

.section-testimonials .container .row .testimonial-conainer .person p {
  margin-bottom: 0;
}

.section-testimonials .container .row .testimonial-conainer .person p.small-subititle {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
}

.section-testimonials .container .row .testimonial-conainer .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-testimonials .container .row .testimonial-conainer .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.section-testimonials .container .row .testimonial-conainer .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.section-testimonials .container .row .testimonial-conainer .slick-dots li:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #333232;
  border: none;
  border-radius: 50%;
}

.section-testimonials .container .row .testimonial-conainer .slick-dots li.slick-active:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid #811b1b !important;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.section-team {
  background-color: #f2f2f2;
}

.section-team .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-team .container .row .image-container img {
  width: 100%;
}

.section-team .container .row h3 {
  font-size: 32px;
  font-weight: 600;
  color: #333232;
  margin-bottom: 10px;
}

.section-team .container .row .subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #1072bc;
}

.section-team .container .row h2 {
  font-size: 35px;
  font-weight: 700;
  color: #004a80;
  margin-bottom: 121px;
}

.section-team .container .row .button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-team .container .row .button-row .button-container {
  margin-right: 10px;
}

.section-clients {
  background-color: #fff;
}

.section-clients .container .row .text-container h3 {
  font-size: 32px;
  font-weight: 600;
  color: #004A80;
}

.section-clients .container .row .text-container .subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #1072bc;
  text-transform: uppercase;
}

.section-clients .container .client-container {
  width: 1009px;
  margin: 0 auto;
  background-color: #f8f8f8;
  margin-top: 80px;
}

.section-partners {
  padding: 66px 0;
  background-color: #f8f8f8;
  text-align: center;
}

.section-partners h3 {
  font-size: 32px;
  font-weight: 600;
  color: #1e1e1e;
  margin-bottom: 40px;
}

.section-partners .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-partners .row .image-container {
  width: 203px;
}

.section-blogs .container .row.article-list {
  margin-top: 80px;
}

.section-blogs .container .row.article-list .col-md-4 {
  height: 100%;
}

.section-blogs .container .row.article-list .content-container {
  background-color: #f8f8f8;
  padding: 5px;
}

.section-blogs .container .row.article-list .content-container h2 {
  color: #004A80;
}

.section-blogs .container .row.article-list .content-container .image-container {
  margin-bottom: 10px;
}

.section-blogs .container .row.article-list .content-container .text-container {
  padding: 20px;
}

.section-blogs .container .row.article-list .content-container .text-container .small-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #0f5e9a;
  margin-bottom: 0;
}

.section-blogs .container .row.article-list .content-container .text-container .captions {
  font-size: 18px;
  font-weight: 600;
  color: #333232;
}

.section-blogs .container .row.article-list .content-container .text-container .short-copy {
  font-size: 14px;
  font-weight: 400;
  color: #333232;
}

.section-blogs .container .row.article-list .content-container .text-container .text-button {
  font-size: 16px;
  font-weight: 400;
  color: #ed1c24;
}

.section-newsletter {
  padding: 65px 0;
  background-color: #e4f4ff;
}

.section-newsletter .newsletter-container .row .text-box h3 {
  font-size: 32px;
  font-weight: 600;
  color: #1e1e1e;
}

.section-newsletter .newsletter-container .row .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-newsletter .newsletter-container .row .form-container .form-input {
  font-family: "poppins";
  font-size: 13px;
  color: #707070;
  padding: 20px;
  width: 480px;
  max-width: 100%;
}

.section-newsletter .newsletter-container .row .form-container .form-input:focus {
  outline: none;
}

.section-newsletter .newsletter-container .row .form-container .form-submit {
  font-size: 18px;
  padding: 16px 24px 20px;
  color: #fff;
  background-color: #ed1c24;
  margin-left: -5px;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
}

.section-newsletter .newsletter-container .row .form-container .form-submit:hover, .section-newsletter .newsletter-container .row .form-container .form-submit:focus {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 9px 14px rgba(0, 0, 0, 0.5);
          box-shadow: 0 9px 14px rgba(0, 0, 0, 0.5);
  background-color: var(--primary-color);
}

.section-newsletter .newsletter-container .row .form-container .form-submit:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 9px rgba(0, 0, 0, 0.5);
}

.footer {
  background-color: #004a80;
  padding: 120px 0 50px;
}

.footer .container {
  position: relative;
}

.footer .container .row .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .row .content-container .image-container {
  width: 190px;
  margin-bottom: 50px;
}

.footer .container .row .content-container p {
  color: #fff;
}

.footer .container .row .content-container .caption {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.footer .container .row .content-container .footer-menu-container .menu-list {
  list-style-type: none;
}

.footer .container .row .content-container .footer-menu-container .menu-list .menu-item .menu-link {
  color: #fff;
}

.footer .container .row .content-container.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .container .row .content-container.right .footer-menu-container {
  width: 50%;
}

.footer .container .row .content-container.right .useful-links {
  width: 50%;
}

.footer .container .social-media-container .social-media-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .container .social-media-container .social-media-list .social-item {
  margin: 15px;
}

.footer .container .copyright-text {
  color: #fff;
  text-align: center;
}

.footer .container .footer-image-container {
  width: 228px;
  position: absolute;
  top: -70px;
  right: 0;
}

.page-about .about-banner, .page-services .about-banner, .page-careers .about-banner, .page-works .about-banner, .page-contact .about-banner {
  max-height: 480px;
  overflow: hidden;
  position: relative;
}

.page-about .about-banner .image-container, .page-services .about-banner .image-container, .page-careers .about-banner .image-container, .page-works .about-banner .image-container, .page-contact .about-banner .image-container {
  height: 100%;
  position: relative;
}

.page-about .about-banner .image-container .overlay, .page-services .about-banner .image-container .overlay, .page-careers .about-banner .image-container .overlay, .page-works .about-banner .image-container .overlay, .page-contact .about-banner .image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-about .about-banner .container, .page-services .about-banner .container, .page-careers .about-banner .container, .page-works .about-banner .container, .page-contact .about-banner .container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page-about .about-banner .container .text-box, .page-services .about-banner .container .text-box, .page-careers .about-banner .container .text-box, .page-works .about-banner .container .text-box, .page-contact .about-banner .container .text-box {
  position: absolute;
  bottom: 32px;
  left: 0;
  color: #fff;
}

.page-about .about-banner .container .text-box h3, .page-services .about-banner .container .text-box h3, .page-careers .about-banner .container .text-box h3, .page-works .about-banner .container .text-box h3, .page-contact .about-banner .container .text-box h3 {
  margin-bottom: 10px;
}

.page-about .section-vison, .page-services .section-vison, .page-careers .section-vison, .page-works .section-vison, .page-contact .section-vison {
  padding: 80px 0;
}

.page-about .section-vison .text-box, .page-services .section-vison .text-box, .page-careers .section-vison .text-box, .page-works .section-vison .text-box, .page-contact .section-vison .text-box {
  margin-bottom: 48px;
}

.page-about .section-vison .content-container, .page-services .section-vison .content-container, .page-careers .section-vison .content-container, .page-works .section-vison .content-container, .page-contact .section-vison .content-container {
  background-color: #E4F4FF;
  padding: 31px 19px;
  margin-bottom: 64px;
}

.page-about .section-vison .header-box, .page-services .section-vison .header-box, .page-careers .section-vison .header-box, .page-works .section-vison .header-box, .page-contact .section-vison .header-box {
  width: 74%;
  margin-bottom: 80px;
}

.page-about .section-brand, .page-services .section-brand, .page-careers .section-brand, .page-works .section-brand, .page-contact .section-brand {
  padding: 80px 0;
  background-color: #f2f2f2;
}

.page-about .section-brand .text-box, .page-services .section-brand .text-box, .page-careers .section-brand .text-box, .page-works .section-brand .text-box, .page-contact .section-brand .text-box {
  margin-bottom: 45px;
}

.page-about .section-brand .text-box .link-container a, .page-services .section-brand .text-box .link-container a, .page-careers .section-brand .text-box .link-container a, .page-works .section-brand .text-box .link-container a, .page-contact .section-brand .text-box .link-container a {
  color: #ED1C24;
  text-decoration: underline;
}

.page-about .section-brand .text-box .link-container a:not(:last-child), .page-services .section-brand .text-box .link-container a:not(:last-child), .page-careers .section-brand .text-box .link-container a:not(:last-child), .page-works .section-brand .text-box .link-container a:not(:last-child), .page-contact .section-brand .text-box .link-container a:not(:last-child) {
  margin-right: 20px;
}

.page-about .section-brand .logo, .page-about .section-brand .colors, .page-about .section-brand .icons, .page-services .section-brand .logo, .page-services .section-brand .colors, .page-services .section-brand .icons, .page-careers .section-brand .logo, .page-careers .section-brand .colors, .page-careers .section-brand .icons, .page-works .section-brand .logo, .page-works .section-brand .colors, .page-works .section-brand .icons, .page-contact .section-brand .logo, .page-contact .section-brand .colors, .page-contact .section-brand .icons {
  margin-bottom: 64px;
}

.page-about .section-brand .logo h4, .page-about .section-brand .colors h4, .page-about .section-brand .icons h4, .page-services .section-brand .logo h4, .page-services .section-brand .colors h4, .page-services .section-brand .icons h4, .page-careers .section-brand .logo h4, .page-careers .section-brand .colors h4, .page-careers .section-brand .icons h4, .page-works .section-brand .logo h4, .page-works .section-brand .colors h4, .page-works .section-brand .icons h4, .page-contact .section-brand .logo h4, .page-contact .section-brand .colors h4, .page-contact .section-brand .icons h4 {
  margin-bottom: 25px;
}

.page-about .section-brand .logo .image-container, .page-about .section-brand .colors .image-container, .page-about .section-brand .icons .image-container, .page-services .section-brand .logo .image-container, .page-services .section-brand .colors .image-container, .page-services .section-brand .icons .image-container, .page-careers .section-brand .logo .image-container, .page-careers .section-brand .colors .image-container, .page-careers .section-brand .icons .image-container, .page-works .section-brand .logo .image-container, .page-works .section-brand .colors .image-container, .page-works .section-brand .icons .image-container, .page-contact .section-brand .logo .image-container, .page-contact .section-brand .colors .image-container, .page-contact .section-brand .icons .image-container {
  width: 246px;
}

.page-about .section-brand .colors .content-container, .page-services .section-brand .colors .content-container, .page-careers .section-brand .colors .content-container, .page-works .section-brand .colors .content-container, .page-contact .section-brand .colors .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-about .section-brand .colors .content-container .color-box, .page-services .section-brand .colors .content-container .color-box, .page-careers .section-brand .colors .content-container .color-box, .page-works .section-brand .colors .content-container .color-box, .page-contact .section-brand .colors .content-container .color-box {
  margin-right: 45px;
}

.page-about .section-brand .colors .content-container .color-box .circle, .page-services .section-brand .colors .content-container .color-box .circle, .page-careers .section-brand .colors .content-container .color-box .circle, .page-works .section-brand .colors .content-container .color-box .circle, .page-contact .section-brand .colors .content-container .color-box .circle {
  content: "";
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid;
  display: inline-block;
}

.page-about .section-brand .colors .content-container .color-box .color-primary, .page-services .section-brand .colors .content-container .color-box .color-primary, .page-careers .section-brand .colors .content-container .color-box .color-primary, .page-works .section-brand .colors .content-container .color-box .color-primary, .page-contact .section-brand .colors .content-container .color-box .color-primary {
  background-color: #1082BC;
}

.page-about .section-brand .colors .content-container .color-box .color-secondary, .page-services .section-brand .colors .content-container .color-box .color-secondary, .page-careers .section-brand .colors .content-container .color-box .color-secondary, .page-works .section-brand .colors .content-container .color-box .color-secondary, .page-contact .section-brand .colors .content-container .color-box .color-secondary {
  background-color: #ED1C24;
}

.page-about .section-brand .colors .content-container .color-box .color-surface-1, .page-services .section-brand .colors .content-container .color-box .color-surface-1, .page-careers .section-brand .colors .content-container .color-box .color-surface-1, .page-works .section-brand .colors .content-container .color-box .color-surface-1, .page-contact .section-brand .colors .content-container .color-box .color-surface-1 {
  background-color: #E4F4FF;
}

.page-about .section-brand .colors .content-container .color-box .color-surface-2, .page-services .section-brand .colors .content-container .color-box .color-surface-2, .page-careers .section-brand .colors .content-container .color-box .color-surface-2, .page-works .section-brand .colors .content-container .color-box .color-surface-2, .page-contact .section-brand .colors .content-container .color-box .color-surface-2 {
  background-color: #F8F8F8;
}

.page-about .section-brand .colors .content-container .color-box .color-primary-dark, .page-services .section-brand .colors .content-container .color-box .color-primary-dark, .page-careers .section-brand .colors .content-container .color-box .color-primary-dark, .page-works .section-brand .colors .content-container .color-box .color-primary-dark, .page-contact .section-brand .colors .content-container .color-box .color-primary-dark {
  background-color: #004A80;
}

.page-about .section-brand .icons .image-container, .page-services .section-brand .icons .image-container, .page-careers .section-brand .icons .image-container, .page-works .section-brand .icons .image-container, .page-contact .section-brand .icons .image-container {
  width: 114px;
}

.page-about .section-team, .page-services .section-team, .page-careers .section-team, .page-works .section-team, .page-contact .section-team {
  background-color: #fff;
}

.page-about .section-team .team-members, .page-services .section-team .team-members, .page-careers .section-team .team-members, .page-works .section-team .team-members, .page-contact .section-team .team-members {
  margin-top: 80px;
}

.page-about .section-team .team-members .content-container, .page-services .section-team .team-members .content-container, .page-careers .section-team .team-members .content-container, .page-works .section-team .team-members .content-container, .page-contact .section-team .team-members .content-container {
  margin-bottom: 28px;
}

.page-about .section-team .team-members .content-container .image-container, .page-services .section-team .team-members .content-container .image-container, .page-careers .section-team .team-members .content-container .image-container, .page-works .section-team .team-members .content-container .image-container, .page-contact .section-team .team-members .content-container .image-container {
  margin-bottom: 16px;
}

.page-about .section-team .team-members .content-container .text-container, .page-services .section-team .team-members .content-container .text-container, .page-careers .section-team .team-members .content-container .text-container, .page-works .section-team .team-members .content-container .text-container, .page-contact .section-team .team-members .content-container .text-container {
  text-align: center;
}

.page-about .section-team .team-members .content-container .text-container .small-subtitle, .page-services .section-team .team-members .content-container .text-container .small-subtitle, .page-careers .section-team .team-members .content-container .text-container .small-subtitle, .page-works .section-team .team-members .content-container .text-container .small-subtitle, .page-contact .section-team .team-members .content-container .text-container .small-subtitle {
  color: #1072bc;
}

.page-services .section-about .icons {
  margin-top: 80px;
}

.page-careers .job-head {
  margin-bottom: 24px;
}

.page-careers .jobs-intern, .page-careers .jobs-employee {
  margin-bottom: 60px;
}

.page-careers .jobs-intern .content-container, .page-careers .jobs-employee .content-container {
  border: 1px solid #f2f2f2;
  padding: 40px 28px;
}

.page-careers .jobs-intern .content-container .pre-title, .page-careers .jobs-employee .content-container .pre-title {
  margin-bottom: 15px;
}

.page-careers .jobs-intern .content-container .captions, .page-careers .jobs-employee .content-container .captions {
  margin-bottom: 14px;
}

.page-careers .jobs-intern .content-container .long-copy, .page-careers .jobs-employee .content-container .long-copy {
  margin-bottom: 22px;
}

.page-careers .jobs-intern .content-container .text-buttons, .page-careers .jobs-employee .content-container .text-buttons {
  margin-top: 40px;
}

.page-careers .jobs-intern .content-container:hover, .page-careers .jobs-intern .content-container:focus, .page-careers .jobs-employee .content-container:hover, .page-careers .jobs-employee .content-container:focus {
  background-color: #f8f8f8;
}

.page-careers .section-culture {
  padding: 20px 0 120px;
}

.page-careers .section-culture .text-box h3 {
  margin-bottom: 28px;
}

.page-careers .section-culture .text-box h4 {
  margin-bottom: 12px;
}

.page-careers .section-culture .text-box-primary {
  margin-bottom: 50px;
}

.page-careers .section-culture .text-box-secondary {
  margin-bottom: 40px;
}

.page-works .filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-works .filter-container .filter-headline {
  margin-right: 40px;
}

.page-works .filter-container .filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-works .filter-container .filter-buttons .slash {
  margin: 0 13px 0 28px;
}

.page-works .filter-container .filter-buttons .category {
  position: relative;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.page-works .filter-container .filter-buttons .category .number {
  position: absolute;
  top: -14px;
  left: calc(100% + 5px);
}

.page-works .filter-container .filter-buttons .category.active {
  color: #ED1C24;
}

.page-contact .note {
  margin-top: 100px;
}
/*# sourceMappingURL=styles.css.map */